<ul class="nav justify-content-center">
<li class="nav-item">
<%= link_to 'Friend App', root_path, class:"nav-link" %>
</li>
<li class="nav-item">
<%= link_to 'About Us', home_about_path, class:"nav-link" %>
</li>
<li class="nav-item">
<%= link_to 'Friends', friends_path, class:"nav-link" %>
</li>
<li class="nav-item">
<%= link_to 'Create new entry', new_friend_path, class:"nav-link" %>
</li>
</ul>